<p id="notice"><%= notice %></p>
<%= render 'navbar' %>


<div class="card" style="width: 18rem; color:grey">
<div class="card-body">
<p>
  <strong>Name:</strong>
  <%= @user.first_name %>
</p>


<p>
  <strong>Email:</strong>
  <%= @user.email %>
</p>

<p>
  <strong>Age:</strong>
  <%= @user.age %>
</p>

<button><%= link_to 'Edit', edit_user_path(@user) %></button> |
<button><%= link_to 'Back', users_path %></button> |
<button><%= link_to 'Destroy', @user, method: :delete, data: { confirm: 'Are you sure?' } %></button>
</div>
</div>